/* Fonts */
$sans-primary: 'Source Sans Pro', sans-serif;
$sans-secondary: 'Lato', sans-serif;
$serif: 'Times', serif;
$segura: 'Norican', cursive;

/* Shades */
$main-black: #181a1e;
$main-white: #ededed;
$main-gray: #4a4a4a;
$main-gray-light: #a9a9a9;
$main-theme: google-color(red, a700);

$main-base-color-body: #f2f5fa;
$main-base-color-text: #6978a6;
$main-base-color-cta: #6088cc;
$main-base-color: #1f3161;
$main-base-color-dark: #1d2c57;
$main-base-color-darker: #19274e;

/* Social Colors */
$facebook-blue: #4267b2;
$instagram-grey: #231f20;
$yelp-red: #d32323;

$theme-red: #ff5f57;
$theme-blue: #5bbad5;
$theme-purple: #4e394c;
$th-yellow: #f9f4b4;
$th-green: #03ff87;
$th-aqua: #7ee5c2;
$th-seagreen: #29ffcf;
$th-seamonster: #26a69a;
$th-premier-blue: #03f5ff;
$th-democratic: #0932e4;
$th-pea-coat: #001776;
$th-pink: #f54656;
$th-pink-dark: #e80056;
$th-berries: #c50065;
$th-lillies: #9b47bc;
$th-premier-purple: #3f1152;
$th-purple1: #3c2a3b;
$th-purple2: #1d161d;
$gold: #f7c312;
$whitesmoke: #fafafa;

/* Theme Colors */
$cta: $th-seamonster;
$cta-alt: $th-pink;
$cta-light: $th-yellow;
$cta-dark: $th-premier-purple;

$highlighter-yellow: yellow;
$highlighter-pink: pink;
$highlighter-green: green;
$highlighter-blue: blue;
$highlighter-purple: purple;
$highlighter-orange: orange;

/* Alt Colors */

/* Dimensions */
$atSmallest: 0;
$atSmall: 540px;
$atMedium: 720px;
$atLarge: 960px;
$atLargest: 1140px;

/* Padding, Margin defaults */
$pad: 15px;
$pad-sm: 30px;
$pad-md: 60px;
$pad-lg: 90px;
$pad-xl: 120px;

/* Setup Baseline.css elements */
$base-font-size: 1rem;
$base-font-family: $sans-primary;
$base-font-weight: 400;
$base-font-height: 1.7;
$base-font-color: $main-gray;
$base-font-color-light: $main-base-color-text;
$base-bg-color: white;
$base-transition: all 0.3s ease-out;
