.content__wrapper {
  background-color: #eee;
  border-radius: 12px;
  border: 1px solid black;
  clear: both;
  margin-top: 1rem;
  padding: 24px;
}

.content {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 0 0 24px;

  &__width-sidebar & {
    flex: 1 1;
  }
}
