.c-grid {
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: 800;

  & .grow {
    flex-grow: 1;
    @for $grow from 1 to 9 {
      @mixin atSmallest {
        &-xs-$(grow) {
          /* prettier-ignore */
          flex-grow: 0.$(grow);
        }
      }
      @mixin atSmall {
        &-sm-$(grow) {
          /* prettier-ignore */
          flex-grow: 0.$(grow);
        }
      }
      @mixin atMedium {
        &-md-$(grow) {
          /* prettier-ignore */
          flex-grow: 0.$(grow);
        }
      }
    }
  }
  & .shrink {
    flex-shrink: 1;
  }

  .item {
    &1 {
      background-color: google-color(deeporange, 100);
      /* display: flex;
      flex-direction: column;
      flex-basis: 33.333%; */
    }
    &2 {
      background-color: google-color(deeporange, 200);
      /* flex-basis: 33.333%; */
    }
    &3 {
      background-color: google-color(deeporange, 400);
      /* display: flex;
      flex-wrap: wrap;
      flex-basis: 33.33%; */
    }
    &3a {
      background-color: google-color(deeporange, 400);
      /* flex-basis: 100%; */
    }
    &3b {
      background-color: google-color(deeporange, 500);
      /* flex-basis: auto; */
    }
    &3c {
      background-color: google-color(deeporange, 600);
      /* flex-basis: auto; */
    }

    &6 {
      background-color: google-color(deeporange, 700);
      /* flex-basis: 33.33%; */
    }
    &7 {
      background-color: google-color(deeporange, 800);
      flex-grow: 1;
    }
    &8 {
      background-color: google-color(deeporange, 900);
      /* flex-basis: 16.65%; */
    }
  }
}

.portfolio {
  display: flex;

  & .column-left {
    display: flex;
    flex-direction: column;
    background-color: google-color(deeppurple, 50);
  }
  & .column-right {
    display: flex;
    flex-direction: column;
    background-color: google-color(deeppurple, 200);
  }
}
