#overlay__results {
  position: relative;
  z-index: 3;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: color(white a(0));
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: opacity 0.3s ease-out;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: opacity 0.4s ease-in;
    background-color: color(white a(95%));
    transition: opacity 0.3s ease-in;
  }
  &--not-visible {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.6s ease-out;
  }

  .trigger__close {
    z-index: 100;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 40px;
    transition: all 0.3s ease-out;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    right: 15px;
    text-align: center;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px 20px 15px 20px;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 300px;

  opacity: 0;
  visibility: hidden;
  z-index: -1;

  @mixin atSmall {
    max-width: 450px;
  }
  @mixin atMedium {
    max-width: 750px;
  }

  .overlay--is-visible & {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  .overlay--not-visible & {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-family: $sans-secondary;
    font-weight: 800;

    .trigger__close {
      align-self: flex-start;
      text-align: right;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
  }
}

.contact__form__container {
  .overlay--is-visible & {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  .overlay--not-visible & {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}
