.header {
  background-color: $main-theme;

  &--fixed {
    padding-top: 60px;
  }
  &__inner {
    align-items: center;
    text-transform: uppercase;
    font-family: $sans-primary;
    font-weight: 600;
  }

  &__branding {
  }

  &__logo {
    /* position: absolute;
    left: 50%;
    top: 50%;
    translate: transform(-50%, -50%); */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: opacity 0.3s ease-out;
    background: url('images/logo.svg') no-repeat center;
    width: 175px;
    height: 115px;

    @mixin atSmall {
      justify-content: inherit;
    }
  }
}
